<h3>Create</h3>
<ul>
    <li> <a href="{{ url_for('component.new_user') }}"> new user </a> </li>
    <li> <a href="{{ url_for('component.new_machine_template') }}"> new machine template </a> </li>
    <li> <a href="{{ url_for('component.new_machine_slot') }}"> new machine slot </a> </li>
    <li> <a href="{{ url_for('component.new_installer') }}"> new installer </a> </li>
</ul>

<h3>Show</h3>
<ul>
    <li> <a href="{{ url_for('component.show_users') }}"> users </a> </li>
    <li> <a href="{{ url_for('component.show_machine_templates') }}"> machine templates </a> </li>
    <li> <a href="{{ url_for('component.show_machine_slots') }}"> machine slots </a> </li>
    <li> <a href="{{ url_for('component.show_installers') }}"> installers </a> </li>
    <li> <a href="{{ url_for('component.show_machines') }}"> machines </a> </li>
</ul>

