{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block body %}

    <h2> Welcome </h2>
    <p>
        This application supports the remote testing of Fedora's
        Grapical installation.
    </p>

    <p>
    The basic idea is to create a job and login to the associated web interface
    using the link, username and password that show up.
    </p>

    <h2> WARNING</h2>
    <p>
    This application is <b>ONLY</b> a demo, it might (and probably will break.
    If it does, please let us know.
    </p>


{% endblock %}
